/* Would normally break this out into seperate stylesheets but sections will do as this is so small */
@font-face {
  font-family: "Gotham, Gotham-Light";
  src: url("/fonts/gotham-light.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham, Gotham-Light";
  src: url("/fonts/gotham-medium.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Gotham, Gotham-Book";
  src: url("/fonts/gotham-book.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham, Gotham-Book";
  src: url("/fonts/gotham-medium.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Gotham, Gotham-Medium";
  src: url("/fonts/gotham-medium.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

/* 
   Typographic tweaks!
   3. Add accessible line-height
   4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Design Tokens */

:root {
  --token-color-colour-brand-red: #da0530;
  --token-color-colour-brand-purple: #381246;
  --token-color-colour-background-primary: #ffffff;
  --token-color-colour-background-secondary: #f5f5f6;
  --token-color-colour-background-tertiary: #e6e7e8;
  --token-color-colour-surface-elevation-0: #ffffff;
  --token-color-colour-surface-elevation-1: #ffffff;
  --token-color-colour-border-minimal: #e6e7e8;
  --token-color-colour-border-decorative: #d7d8da;
  --token-color-colour-border-accessible: #808489;
  --token-color-colour-border-inverted: #030c16;
  --token-color-colour-border-inverted-minimal: #1c242d;
  --token-color-colour-border-inverted-decorative: #303840;
  --token-color-colour-text-primary: #030c16;
  --token-color-colour-text-secondary: #676d73;
  --token-color-colour-text-tertiary: #b8bbbe;
  --token-color-colour-text-inverted-primary: #ffffff;
  --token-color-colour-text-inverted-secondary: #808489;
  --token-color-colour-text-interactive: #da0530;
  --token-color-colour-text-interactive-minimal: #030c16;
  --token-color-colour-text-error: #a70d2e;
  --token-color-colour-text-warning: #be4a0a;
  --token-color-colour-text-success: #077950;
  --token-color-colour-text-info: #0072bd;
  --token-color-colour-text-promotional: #4f145b;
  --token-color-colour-text-disabled: #808489;
}

/* Utopian typography and space */

/* @link https://utopia.fyi/type/calculator?c=320,12,1.2,1240,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.5208rem, 0.4794rem + 0.2072vw, 0.64rem);
  --step--1: clamp(0.625rem, 0.5641rem + 0.3043vw, 0.8rem);
  --step-0: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --step-1: clamp(0.9rem, 0.7783rem + 0.6087vw, 1.25rem);
  --step-2: clamp(1.08rem, 0.9122rem + 0.8391vw, 1.5625rem);
  --step-3: clamp(1.296rem, 1.0674rem + 1.1428vw, 1.9531rem);
  --step-4: clamp(1.5552rem, 1.247rem + 1.5412vw, 2.4414rem);
  --step-5: clamp(1.8662rem, 1.4539rem + 2.0618vw, 3.0518rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,12,1.2,1240,16,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.1875rem, 0.1658rem + 0.1087vw, 0.25rem);
  --space-2xs: clamp(0.375rem, 0.3315rem + 0.2174vw, 0.5rem);
  --space-xs: clamp(0.5625rem, 0.4973rem + 0.3261vw, 0.75rem);
  --space-s: clamp(0.75rem, 0.663rem + 0.4348vw, 1rem);
  --space-m: clamp(1.125rem, 0.9946rem + 0.6522vw, 1.5rem);
  --space-l: clamp(1.5rem, 1.3261rem + 0.8696vw, 2rem);
  --space-xl: clamp(2.25rem, 1.9891rem + 1.3043vw, 3rem);
  --space-2xl: clamp(3rem, 2.6522rem + 1.7391vw, 4rem);
  --space-3xl: clamp(4.5rem, 3.9783rem + 2.6087vw, 6rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.1875rem, 0.0788rem + 0.5435vw, 0.5rem);
  --space-2xs-xs: clamp(0.375rem, 0.2446rem + 0.6522vw, 0.75rem);
  --space-xs-s: clamp(0.5625rem, 0.4103rem + 0.7609vw, 1rem);
  --space-s-m: clamp(0.75rem, 0.4891rem + 1.3043vw, 1.5rem);
  --space-m-l: clamp(1.125rem, 0.8207rem + 1.5217vw, 2rem);
  --space-l-xl: clamp(1.5rem, 0.9783rem + 2.6087vw, 3rem);
  --space-xl-2xl: clamp(2.25rem, 1.6413rem + 3.0435vw, 4rem);
  --space-2xl-3xl: clamp(3rem, 1.9565rem + 5.2174vw, 6rem);

  /* Custom pairs */
  --space-s-l: clamp(0.75rem, 0.3152rem + 2.1739vw, 2rem);
}

/* Global */

body {
  font-family: "Gotham, Gotham-Book";
  font-weight: normal;
  font-size: var(--step-0);
  line-height: 1.5;
  color: var(--token-color-colour-text-primary);
  background-color: var(--token-color-colour-background-primary);
}

a {
  color: var(--token-color-colour-brand-red);
  text-decoration: underline;
  text-underline-offset: 0.25rem;

  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--step-0);
  font-weight: 600;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--token-color-colour-brand-red);
  outline-offset: 2px;
}

/* Utilities */

.wrapper {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-link {
  border: 0;
  background: transparent;
  color: var(--token-color-colour-brand-red);
  text-decoration: underline;
  text-underline-offset: 0.25rem;

  &:hover {
    text-decoration: none;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-2xs) var(--space-s);
  border: 0;
  background: var(--token-color-colour-brand-red);
  color: #fff;
  text-decoration: none;
  transition: 0.25s ease background-color;
  border-radius: 0.25rem;
  text-align: center;
  font-weight: 600;

  &:hover {
    background-color: var(--token-color-colour-brand-purple);
  }
}

/* Stuff that should be in a component */

.site-header {
  background-color: var(--token-color-colour-background-primary);
  box-shadow: inset 0px -1px 0px var(--token-color-colour-border-minimal);
  padding: var(--space-s) 0;
  margin-bottom: var(--space-m);
}
