@font-face {
  font-family: "Gotham, Gotham-Light";
  src: url("/fonts/gotham-light.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham, Gotham-Light";
  src: url("/fonts/gotham-medium.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Gotham, Gotham-Book";
  src: url("/fonts/gotham-book.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham, Gotham-Book";
  src: url("/fonts/gotham-medium.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Gotham, Gotham-Medium";
  src: url("/fonts/gotham-medium.woff2") format("truetype");
  font-style: normal;
  font-display: swap;
}

/* Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

/* 
   Typographic tweaks!
   3. Add accessible line-height
   4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Design Tokens */

:root {
  --token-color-colour-brand-red: #da0530;
  --token-color-colour-brand-purple: #381246;
  --token-color-colour-background-primary: #ffffff;
  --token-color-colour-background-secondary: #f5f5f6;
  --token-color-colour-background-tertiary: #e6e7e8;
  --token-color-colour-surface-elevation-0: #ffffff;
  --token-color-colour-surface-elevation-1: #ffffff;
  --token-color-colour-border-minimal: #e6e7e8;
  --token-color-colour-border-decorative: #d7d8da;
  --token-color-colour-border-accessible: #808489;
  --token-color-colour-border-inverted: #030c16;
  --token-color-colour-border-inverted-minimal: #1c242d;
  --token-color-colour-border-inverted-decorative: #303840;
  --token-color-colour-text-primary: #030c16;
  --token-color-colour-text-secondary: #676d73;
  --token-color-colour-text-tertiary: #b8bbbe;
  --token-color-colour-text-inverted-primary: #ffffff;
  --token-color-colour-text-inverted-secondary: #808489;
  --token-color-colour-text-interactive: #da0530;
  --token-color-colour-text-interactive-minimal: #030c16;
  --token-color-colour-text-error: #a70d2e;
  --token-color-colour-text-warning: #be4a0a;
  --token-color-colour-text-success: #077950;
  --token-color-colour-text-info: #0072bd;
  --token-color-colour-text-promotional: #4f145b;
  --token-color-colour-text-disabled: #808489;
}

/* Utopian typography and space */

/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.6944rem, 0.6577rem + 0.1836vw, 0.8rem);
  --step--1: clamp(0.8333rem, 0.7754rem + 0.2899vw, 1rem);
  --step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --step-1: clamp(1.2rem, 1.0739rem + 0.6304vw, 1.5625rem);
  --step-2: clamp(1.44rem, 1.2615rem + 0.8924vw, 1.9531rem);
  --step-3: clamp(1.728rem, 1.4799rem + 1.2407vw, 2.4414rem);
  --step-4: clamp(2.0736rem, 1.7334rem + 1.7011vw, 3.0518rem);
  --step-5: clamp(2.4883rem, 2.027rem + 2.3067vw, 3.8147rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4565rem + 0.2174vw, 0.625rem);
  --space-xs: clamp(0.75rem, 0.6848rem + 0.3261vw, 0.9375rem);
  --space-s: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
  --space-m: clamp(1.5rem, 1.3696rem + 0.6522vw, 1.875rem);
  --space-l: clamp(2rem, 1.8261rem + 0.8696vw, 2.5rem);
  --space-xl: clamp(3rem, 2.7391rem + 1.3043vw, 3.75rem);
  --space-2xl: clamp(4rem, 3.6522rem + 1.7391vw, 5rem);
  --space-3xl: clamp(6rem, 5.4783rem + 2.6087vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1196rem + 0.6522vw, 0.625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3478rem + 0.7609vw, 0.9375rem);
  --space-xs-s: clamp(0.75rem, 0.5761rem + 0.8696vw, 1.25rem);
  --space-s-m: clamp(1rem, 0.6957rem + 1.5217vw, 1.875rem);
  --space-m-l: clamp(1.5rem, 1.1522rem + 1.7391vw, 2.5rem);
  --space-l-xl: clamp(2rem, 1.3913rem + 3.0435vw, 3.75rem);
  --space-xl-2xl: clamp(3rem, 2.3043rem + 3.4783vw, 5rem);
  --space-2xl-3xl: clamp(4rem, 2.7826rem + 6.087vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.4783rem + 2.6087vw, 2.5rem);
}

/* Global */

body {
  font-family: "Gotham, Gotham-Book";
  font-weight: normal;
  color: var(--token-color-colour-text-primary);
  background-color: var(--token-color-colour-background-primary);
}

a {
  color: var(--token-color-colour-brand-red);
}

/* Utilities */

.wrapper {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

/* Stuff that should be in a component */

.site-header {
  background-color: var(--token-color-colour-background-primary);
  box-shadow: inset 0px -1px 0px var(--token-color-colour-border-minimal);
  padding: var(--space-s) 0;
  margin-bottom: var(--space-m);
}
